
* {
    box-sizing: border-box;
}
html{
     /* overflow: hidden;  */
  
}
 
body{
      
       text-transform: uppercase;
}
main{
    width:100%;
    position:relative;
    box-sizing: border-box;
    
}

header{

        background-image: linear-gradient(skyblue,rgb(219, 207, 207));
        padding:20px;
        text-align: center;
        letter-spacing: 3px;
        font-size: 25px;
         box-sizing: border-box;
         margin-top: -6px;
       
       
}

header h2{
    background: linear-gradient(rgb(5, 5, 5));
    opacity:0.9;
    
}

.background{
    width: 100%;
    height:95vh;
}

 

.location{
    display:flex;
    margin-top:117px;
    margin-bottom: 100px;
    /* background-color: aliceblue; */
}

.timezone{
  flex-grow: 1;
  text-align:center;
  padding:45px;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* position: relative;
  top:10px; */
}
.timezone h2{
    position:relative;
    top:-19px;
}
.timezone img{
     position:relative;
     left:10px;
}
.timezone .user-time{

    position:relative;
     right:25%;
     display: inline-block;
     top:15%;
}

.timezone .cityname{
   position:relative;
   right:37%;
  display:inline-block;
  top:45%;
}
.icons{
    flex-grow: 1;
    text-align: center;
    padding:50px;
    letter-spacing:3px;
     
  }

  .description{
        display: flex;
    /* flex-wrap: row; */

  }
  .description-values{
    display: flex;
/* flex-wrap: row; */
   margin-top:80px;

}

   .temperature,.temperature-value
   {
       flex-grow:1;
       text-align: center;
       letter-spacing: 3px;
       padding:10px;
       
   }

   .status,.humidity,.Windspeed,.weatherstatus,.humidity-value,.Windspeed-value

   {
       flex-grow:1;
       text-align: center;
       letter-spacing: 3px;
       padding:10px;
       /* border-right: 3px solid black; */
       
   }
   .status h2{
       text-transform: uppercase;
   }
 


.content{
   
     position: absolute; 
      top: 6px;
      align-items: center;
      width:100%;

    
    }
.search{
    position:absolute;
     bottom: 10%;
       /* align-items: center; */
       width: 100%;

}
form{
    padding:10px;
    
}
.search input{
    padding: 17px;
    border:2px solid black;
    border-radius: 37px;
    outline:none;
    position:relative;
     left:35%;
   
}

.search button{
    padding:17px;
    border:2px solid black;
    border-radius: 37px;
    width:150px;
    outline:none;
    background-color :red;
    position:relative;
     left:41%;

}

input{
    background: transparent;
     color:white;
}

.forecast-content{

     display: flex;
     flex-direction: column;
     height:120vh;
     letter-spacing: 3px;
}

.day-1,.day-2,.day-3,.day-4,.day-5{

        background-color: aliceblue;
        flex-grow: 1;
         width:100%;
         text-align: center;
         display: inline-block;
       position: relative;


}


 .day-1 h2{
     font-size: 25px;
     display: inline;
 }
     









