
* {
    box-sizing: border-box;
}
/* html{
     /* overflow: hidden;  
  
}*/

body{
      
       text-transform: uppercase;
      
}
main{
    width:100%;
    position:relative;
    box-sizing: border-box;
    color:white;

    
}

header{

        background:#111111;

         color: white;
        padding:20px;
        text-align: center;
        letter-spacing: 3px;
        font-size: 25px;
         box-sizing: border-box;
         margin-top: -6px;
         position: relative;
       
       
}

header h2{
    background: linear-gradient(rgb(5, 5, 5));
    opacity:0.9;
    
}


.forecast header h2{
    display: inline-block;
   position: relative;
     right:63px;
     /* text-shadow: 1px 1px white; */

}

.header-1{
   position: absolute;
   top:16px;
   width:5%;
   right:36.9%;
}

.header-2{
    position: absolute;
    top:15px;
    width:5%;
    right:37%;
 }

.header-3{
    position: absolute;
    top:15px;
    width:5%;
    right:36.747%;
 }
.icon-1{
  
    position: absolute;
    left:0px;
    width:5%;     


}

.icon-2{
  
    position: relative;
    left:-47px;
    width:5%;     


}

.icon-3{
  
    position: relative;
    left: 40%;
    top: -17px;

}


.icon-4{
  
    position: relative;
    left: 25%;
    top: -17px;


}


.icon-5{
  
    position: absolute;
    right: 30px;
    top: 15px;
    width:5%;


}



.background{
    width: 100%;
    height:95vh;
    opacity: 0.85;
}

 

.location{
    display:flex;
    margin-top:117px;
    margin-bottom: 100px;
    /* background-color: aliceblue; */
}

.timezone{
  flex-grow: 1;
  text-align:center;
  padding:45px;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* position: relative;
  top:10px; */
}
.timezone h2{
    position:relative;
    top:-19px;
}
.timezone img{
     position:relative;
     left:10px;
}
.timezone .user-time{

    position:relative;
     right:25%;
     display: inline-block;
     top:15%;
}

.timezone .cityname{
   position:relative;
   right:37%;
  display:inline-block;
  top:45%;
}
.icons{
    flex-grow: 1;
    text-align: center;
    padding:50px;
    letter-spacing:3px;
     
  }

  .description{
        display: flex;
    /* flex-wrap: row; */

  }
  .description-values{
    display: flex;
/* flex-wrap: row; */
   margin-top:80px;

}

   .temperature,.temperature-value
   {
       flex-grow:1;
       text-align: center;
       letter-spacing: 3px;
       padding:10px;
       
   }

   .status,.humidity,.Windspeed,.weatherstatus,.humidity-value,.Windspeed-value

   {
       flex-grow:1;
       text-align: center;
       letter-spacing: 3px;
       padding:10px;
       /* border-right: 3px solid black; */
       
   }
   .status h2{
       text-transform: uppercase;
   }
 


.content{
   
     position: absolute; 
      top: 6px;
      align-items: center;
      width:100%;

    
    }
.search{
    position:absolute;
       top:0px;
       /* align-items: center; */
       width: 100%;

}
form{
    padding:10px;
    
}
.search input{
    padding: 17px;
    border:2px solid black;
    border-radius: 37px;
    outline:none;
    position:relative;
     left:32%;;
     width: 35%;
   
}


/* .search button{
    padding:17px;
    border:2px solid black;
    border-radius: 37px;
    width:150px;
    outline:none;
    /* background-color :red; */
    /*position:relative;
     left:41%;
     background: transparent;
     

} */
i{
    display: inline;
    padding: 12px;
    position: relative;
    left:-47px;
}
i:hover{

    opacity: 0.5;
}
input{
    background: transparent;
     /* color:white; */
     text-indent: 35px;
     font-size: 25px;
}


.forecast-content{

     display: flex;
     flex-direction: column;
     height:120vh;
     letter-spacing: 3px;
    
      
      
}

.day-1,.day-2,.day-3,.day-4,.day-5{

        background-image:linear-gradient(to left, #001f3f,#3F3F3F);

        
        flex-grow: 1;
         width:100%;
         text-align: center;
         display: inline-block;
       position: relative;
       color:whitesmoke;
       border: 3px  dashed white;
       border-radius: 50px;


}


 .day-1 h2{
     font-size: 25px;
     display: inline;
 }
     

footer{
   width: 100%;
   height:25vh;
   border: 2px solid black;
   text-align: center;
  background-color: #000000;
  color:whitesmoke;
  letter-spacing: 3px;
  border-radius: 30px;
  margin-top: 3px;
  
}

footer h2{
     display: inline-block;


}







